<form id="search_form" action="/admin/search" method="post" class="flex items-center mx-2">
  <input
    id="search_input"
    type="search"
    name="search_input"
    placeholder="Search by name"
    class="h-11 w-52 border-2 border-primaryColor p-2 rounded-xl outline-none bg-bgColor"
  />
  <div class="w-2"></div>
  <button title="search" type="submit" class="hover:bg-purple-500 h-10 w-10 rounded-full flex items-center justify-center">
    <i class="fas fa-search" style="color: #ffffff;"></i>
  </button>
</form>

