<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--add this code to using tailwind -->
    <link rel="stylesheet" href="../../static/output.css" />
    <title>DG Games - Login</title>
    <style>
      .bg-radial-dark {
        background: radial-gradient(#252525,#1c1c1c);
      }
    </style>
  </head>
  <body>
    <section class="bg-radial-dark min-h-screen flex items-center justify-center">
      <div class="py-32 px-52 flex bg-neutral-900 rounded-2xl shadow-lg max-w-5xl">
        <div class="w-1/2 items-center">
          <img src="" alt="Insert Logo Here">
         </div>
        <div class="w-1/2 items-center">
          <h2 class="text-neutral-100 font-bold text-3xl mb-2 w-96">Sign in to DG Games</h2>
          <p class="text-sm italic text-neutral-400 mb-4">"Unlock your gaming potential!"</p>
          <form action="" class="flex flex-col">
            <p class="py-2 mt-1 text-sm font-medium text-neutral-100">Email Address</p>
            <input class="p-2 w-96 rounded-md border text-black" type="text" name="email" placeholder="Enter your email here">
            <p class="py-2 mt-1 text-sm font-medium text-neutral-100">Password</p>
            <input class="p-2 w-96 rounded-md border text-black" type="password" name="password" placeholder="Password">
            <a href="" class="py-2 mb-2 text-neutral-400 text-xs underline">Forgot Password?</a>
            <button class="bg-neutral-800 rounded-sm py-2 text-neutral-100 font-medium w-96">Sign in</button>
          </form>
          <div class="mt-5 w-60 grid text-gray-500 items-center">
            <hr class="border-gray-500 border-solid w-96">
          </div>
          <div>
            <p class="text-xs py-2text-neutral-100">Are you new? <a href="" class="font-medium underline text-neutral-100">Sign Up!</a></p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
