<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--add this code to using tailwind -->
    <link rel="stylesheet" href="../../static/output.css" />
    <title>DG Games - Login</title>
    <style>
      
      .bg-radial {
        background: radial-gradient(#252525,#1c1c1c);
      }

    </style>
  </head>
  <body>
    <section class="bg-radial dark:bg-neutral-800 min-h-screen flex items-center justify-center">
      <div class="py-12 px-28 flex bg-neutral-800 rounded-2xl shadow-lg max-w-3xl">
        <form action="" class="flex flex-col">
          <h2 class="text-neutral-900 dark:text-neutral-100 font-bold text-3xl mb-5 flex-col">Sign Up</h2>
          <p class="py-2 mt-1 text-sm text-neutral-900 dark:text-neutral-100">Username:</p>
          <input class="p-2 w-60 rounded-sm border text-black" type="text" name="email" placeholder="Username">
          <p class="py-2 mt-1 text-sm text-neutral-900 dark:text-neutral-100">Email:</p>
          <input class="p-2 w-60 rounded-sm border text-black" type="text" name="email" placeholder="Email">
          <p class="py-2 mt-1 text-sm text-neutral-900 dark:text-neutral-100">Password:</p>
          <input class="p-2 w-60 rounded-sm border text-black" type="password" name="password" placeholder="Password">
          <p class="py-2 mt-1 text-sm text-neutral-900 dark:text-neutral-100">Confirm Password:</p>
          <input class="p-2 w-60 rounded-sm border text-black" type="password" name="password" placeholder="Confirm Password">
          <button class="bg-neutral-900 dark:bg-neutral-700 w-60 rounded-sm py-2 text-neutral-900 dark:text-neutral-100 font-medium mt-10">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
