<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--add this code to using tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../static/main.css" />
    <title>DG Games - Register</title>
    <style>
      .bg-medium-slate-blue {
        background: #8858ed;
      }

      .bg-radial {
        background: radial-gradient(#252525,#1c1c1c);
      }

    </style>
  </head>
  <body>
    <section class="bg-radial min-h-screen flex items-center justify-center">
      <div class="py-12 px-28 flex bg-neutral-900 bg-opacity-80 rounded-2xl shadow-lg max-w-full items-center">
        <form action="" class="flex flex-col">
          <h2 class="text-neutral-100 font-bold text-4xl mb-5 flex-col mx-auto">Sign Up</h2>
          <p class="py-2 mt-1 text-sm text-neutral-100">Username:</p>
          <input class="p-2 w-60 mx-auto rounded-sm border text-black" type="text" name="username" placeholder="Username" required>
          <span class="validation-message">{{ username_error }}</span>
          <p class="py-2 mt-1 text-sm text-neutral-100">Email:</p>
          <input class="p-2 w-60 mx-auto rounded-sm border text-black" type="text" name="email" placeholder="Email" required>
          <span class="validation-message">{{ email_error }}</span>
          <p class="py-2 mt-1 text-sm text-neutral-100">Password:</p>
          <input class="p-2 w-60 mx-auto rounded-sm border text-black" type="password" name="password" placeholder="Password" required>
          <span class="validation-message">{{password_error }}</span>
          <p class="py-2 mt-1 text-sm text-neutral-100">Confirm Password:</p>
          <input class="p-2 w-60 mx-auto rounded-sm border text-black" type="password" name="password" placeholder="Confirm Password" required>
          <span class="validation-message">{{ confirm_error }}</span>
          <button class="bg-medium-slate-blue hover:opacity-80 mx-auto w-60 rounded-sm py-2 text-neutral-900 dark:text-neutral-100 font-medium mt-10">Sign Up</button>
        </form>
      </div>
    </section>
  </body>
</html>
