<style>
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fade-out {
    animation: fade-out 1s; /* Adjust the duration as needed */
  }

  .animate-fade-in {
    animation: fade-in 1s; /* Adjust the duration as needed */
  }
</style>

<div
  id="message_box"
  onclick="hideMessage()"
  class="animate-fade-in cursor-pointer fixed top-5 left-0 right-0 max-w-[400px] flex justify-between items-center  {% if category == 'SUCCESS'%} bg-green-500 {% else %} bg-red-500  {% endif %}  px-5 py-2 rounded-xl z-50 mx-auto"
>
  <p class="font-medium">{{message}}</p>
  <i class="fa fa-close" style="font-size:20px;color:white"></i>
</div>

<script>
  const messageBox = document.getElementById("message_box");
  const closeBtn = document.getElementById("close_btn-icon");

  function hideMessage() {
    // Add the 'animate-fade-out' class to trigger the fade-out animation
    messageBox.classList.add("animate-fade-out");

    // After the animation duration, hide the message by adding the 'hidden' class
    setTimeout(() => {
      messageBox.classList.add("hidden");
    }, 1); // Adjust the duration (in milliseconds) as needed
  }

  setTimeout(() => {
    hideMessage();
  }, 2500);
</script>
