<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/general.css"/>
    <link rel="stylesheet" href="static/output.css">
    <link rel="stylesheet" href="static/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <!--NAVBAR-->
    <nav 
      class="navbar h-14 md:h-28 fixed top-0 w-full z-10"
      style="background-image: linear-gradient(to right, #2e1851 65%, #3b1851 , #461751 , #511750);"
    >
      <div class="nav-container h-full w-full px-6 md:px-8 lg:px-24 flex justify-between items-center">
        <div class="navbar-toggler md:hidden order-first">
          <i class="fa-solid fa-bars p-2"></i>
        </div>
        
        <div class="logo-container md:order-first">
          <a href={{ url_for('general.index') }}>
            <img src="static/assets/img/logo-DGGames.png" alt="DG Games" class="w-28 md:w-40 lg:w-60">
          </a>
        </div>

        <div class="navbar-content flex justify-around items-center">
          <ul class="navbar-nav hidden md:flex">
            <li class="nav-item transition-all">
              <a href={{ url_for('general.index') }} class="px-1 pt-8">Home</a>
            </li>
            <li class="nav-item transition-all">
              <a href={{ url_for('products.index') }} class="px-1 pt-8">Products</a>
            </li>
            <li class="nav-item transition-all">
              <a href='#' class="px-1 pt-8">Contact Us</a>
            </li>
            <li class="nav-item nav-item-w-subnav transition-all">
              <span class="px-1 pt-8">More</span>
              <ul class="subnav shadow-xl">
                <li class="subnav-item px-2 pt-3 pb-2">
                  <a href="#" class="block w-full">Terms & Conditions</a>
                </li>
                <li class="subnav-item px-2 py-2">
                  <a href="#" class="block w-full">Refund Policy</a>
                </li>
                <li class="subnav-item px-2 pt-2 pb-3">
                  <a href="#" class="block w-full">Support</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="navbar-user md:ml-3 lg:ml-11 flex">
            <a href="" class="user-auth hidden md:flex items-center mr-8">
              <i class="fa-solid fa-circle-user text-2xl mr-4"></i>
              <p class="transition-all px-1 py-8">Log In</p>
            </a>
            <a href="#" class="user-cart md:pt-8">
              <i class="fa-solid fa-cart-shopping md:text-xl md:text-2xl"></i>
              <p class="cart-quantity text-xs md:text-base px-1 md:px-2 -top-2 left-3 md:top-4 md:left-5 md:h-6">8</p>
            </a>
          </div>
        </div>
      </div>

      <!--Mobile and Tablet Menu-->
      <section id="mobile-menu" class="absolute top-0 w-full h-screen hidden"
        style="backdrop-filter: blur(3px); background-color: rgba(0, 0, 0, 0.2);"
      >
        <div 
          class="w-9/12 flex flex-col bg-fuchsia-900 h-full"
          style="background-image: linear-gradient(to bottom, rgb(46,24,81,0.8) 65%, rgb(59,24,81,0.6) , rgb(70,23,81,0.5) , rgb(81,23,80,0.4));"
        >
          <a href={{ url_for('general.index') }} class="pt-6 pb-4 px-5 w-full">Home</a>
          <a href={{ url_for('products.index') }} class="py-4 px-5 w-full">Products</a>
          <a href='#' class="py-4 px-5 w-full">Contact Us</a>
          <a href='#' class="py-4 px-5 w-full flex justify-between items-center">
            More
            <i class="fa-solid fa-chevron-down text-sm"></i>
          </a>
          <div class="h-0 overflow-hidden">
            <div class="w-full flex flex-col">
              <a href="#" class="py-3 px-9 w-full">Terms & Conditions</a>
              <a href="#" class="py-3 px-9 w-full">Refund Policy</a>
              <a href="#" class="py-3 px-9 w-full">Support</a>
            </div>
          </div>
          <a href='#' class="py-4 px-5
           w-full">Log In</a>
        </div>
      </section>
    </nav>

    <!--CONTENT-->
    {% block content %}
    
    {% endblock content %}

    <footer>

    </footer>
  </body>
</html>
