{% extends "general/base.html" %}

{% block title %}
Welcome to DG Games
{% endblock title %}


{% block content %}
<div>
    <div id="hero-section">
        <div class="hero-container">
            <div 
            class="hero-content mt-52 ml-32 h-96 rounded-3xl pt-10 pb-11 px-20"
            style="background-color: var(--primaryColor); width: 610px;"
            >
                <p>Power up your game</p>
                <h1>ROCKET LEAGUE 2023</h1>
                <p>Now Available on PC and Various Consoles</p>
            </div>
            <div class="hero-vertical-image">

            </div>
        </div>
    </div>

    <div id="product-section">

    </div>

    <div id="category-section">

    </div>

    <div id="newsletter-section">

    </div>

    <div id="ending-section">

    </div>
</div>
{% endblock content %}