@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #8858ed;
  --secondaryColor: #2b1f41;
  --bgColor: #0e0e0e;
  --textColor: #ffff;
}

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: roboto;
  src: url("assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: roboto;
  color: var(--textColor);
}

body {
  background-color: var(--bgColor);
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b4b6d0;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6dee1e5;
}

#popup-cart {
  scrollbar-width: 12px;
}

.toast {
  transform: translateX(calc(100% + 60px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translate(0%);
}

.progress.active:before {
  animation: progress 3s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}