<div class="relative mb-5">
  <button
    id="dropdownButton"
    class="z-40 w-52 text-white font-medium rounded-lg bg-purple-500 duration-200 text-sm px-5 py-2.5 text-center inline-flex items-center"
    type="button"
  >
    {% if option_value %} {{option_value}} {% else %} Sort by {% endif %}
    <svg
      class="w-2.5 h-2.5 ml-2.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div
    id="dropdown"
    style="backdrop-filter: blur(30px)"
    class="z-40 hidden bg-black bg-opacity-30 rounded-lg absolute top-15 w-52"
  >
    <ul class="py-2 text-sm">
      <li>
        <a
          href="{{ url_for('products.sort_products', sort_by = 'price_asc') }}"
          class="block px-4 py-2 hover:bg-purple-500"
          >Price (low to high)</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('products.sort_products', sort_by = 'price_desc') }}"
          class="block px-4 py-2 hover:bg-purple-500"
          >Price (high to low)</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('products.sort_products', sort_by = 'name_asc') }}"
          class="block px-4 py-2 hover:bg-purple-500"
          >Name A -> Z</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('products.sort_products', sort_by = 'name_desc') }}"
          class="block px-4 py-2 hover:bg-purple-500"
          >Name Z -> A</a
        >
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropdownButton = document.getElementById("dropdownButton");
    const dropdown = document.getElementById("dropdown");

    dropdownButton.addEventListener("click", function () {
      if (dropdown.classList.contains("visible")) {
        dropdown.classList.remove("visible");
        dropdown.classList.add("hidden");
      } else {
        dropdown.classList.add("visible");
        dropdown.classList.remove("hidden");
      }
    });
  });
</script>
