{% if games_query %} {% for game in games_query %}
<div class="flex flex-col items-center w-60 sm:w-80">
  <a
    title="{{game.name}}"
    href="{{ url_for('products.product_detail', product_id=game.id) }}"
    class="flex flex-col items-center"
  >
    <img
      style="aspect-ratio: 9/13"
      class="rounded-2xl cursor-pointer hover:opacity-60 duration-200 object-cover"
      src="{{game.image}}"
      alt="image"
    />
    <h1
      class="font-bold text-lg sm:text-xl my-3 w-60 sm:w-80 text-center truncate"
    >
      {{game.name}}
    </h1>
    <div class="flex items-center justify-between w-60 sm:w-80">
      <p class="text-primaryColor font-medium">
        {{ game.price | currency }}
      </p>
      <span>{{game.purchase_number}} sold</span>
    </div>
  </a>

  <form action={{ url_for('cart.cart_add') }} method="POST">
    <input type="hidden" name="product_id" value="{{game.id}}">
    <button
      class="font-bold w-60 sm:w-80 py-3 bg-primaryColor hover:bg-purple-800 duration-300 rounded-full my-5"
    >
      Add to cart
   </button>
  </form>
</div>
{% endfor %}

{% else %}
  <p class="w-full">No games found</p>
{% endif %}
