    <style>
      #sidebar {
        transform: translateX(
          -100%
        ); /* Initially hide the sidebar off-screen */
        transition: transform 0.3s ease-in-out; /* Add a transition for smooth animation */
      }

      #sidebar.visible {
        transform: translateX(0); /* Slide the sidebar in with the transition */
      }
    </style>
  </head>

  <svg
    id="filterBtn"
    title="filter"
    class="cursor-pointer p-2 bg-purple-500 rounded-xl hover:bg-purple-700 duration-200 fixed bottom-5 left-2 sm:bottom-10 sm:left-10 opacity-50 hover:opacity-100"
    xmlns="http://www.w3.org/2000/svg"
    height="40px"
    viewBox="0 0 512 512"
  >
    <style>
      svg {
        fill: #ffffff;
      }
    </style>
    <path
      d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"
    />
  </svg>

  <div
    id="sidebar"
    style="backdrop-filter: blur(30px)"
    class="flex flex-col items-end font-light w-60 fixed top-0 left-0 h-full p-5 bg-black bg-opacity-50 z-40"
  >
    <svg
      class="cursor-pointer p-2 rounded-xl hover:bg-purple-700 duration-200"
      id="closeBtn"
      xmlns="http://www.w3.org/2000/svg"
      height="40px"
      viewBox="0 0 384 512"
    >
      <style>
        svg {
          fill: #ffffff;
        }
      </style>
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
      />
    </svg>

    <h1 class="text-3xl font-bold py-3 border-b-2 w-full">Filter by</h1>

    <div class="flex flex-col pb-5 border-b-2 w-full">
      <h1 class="py-3 text-xl">Platform</h1>
      <ul class="flex flex-col">
        <a href="/products" class="cursor-pointer hover:text-purple-500 duration-200">All</a>
        {% for platform in platforms_query%}
          <a href="{{ url_for('products.filter_products', platform = platform.platform_name) }}" class="cursor-pointer hover:text-purple-500 duration-200">
            {{platform.platform_name}}
          </a>
        {% endfor %}
      </ul>
    </div>

    <div class="flex flex-col pb-5 w-full">
      <h1 class="py-3 text-xl">Genre</h1>
      <ul class="flex flex-col">
        <a href="/products" class="cursor-pointer hover:text-purple-500 duration-200">All</a>
        {% for genre in genres_query%}
          <a href="{{ url_for('products.filter_products', genre = genre.genre_name) }}"
            class="cursor-pointer hover:text-purple-500 duration-200">
            {{genre.genre_name}}
          </a>
        {% endfor %}
      </ul>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const filterBtn = document.getElementById("filterBtn");
      const sidebar = document.getElementById("sidebar");
      const closeBtn = document.getElementById("closeBtn");

      filterBtn.addEventListener("click", function () {
        sidebar.classList.toggle("visible");
        sidebar.classList.remove("hiden");
      });

      closeBtn.addEventListener("click", function () {
        sidebar.classList.toggle("hiden");
        sidebar.classList.remove("visible");
      });

      
    });
  </script>

