<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex flex-col font-light w-32">
      <h1 class="text-3xl py-3 border-b-2">Filter by</h1>
      <div class="flex flex-col pb-5 border-b-2 w-full">
        <h1 class="py-5">Category</h1>
        <ul>
          <li>All</li>
          <li>Consoles</li>
          <li>Games</li>
          <li>Controllers</li>
          <li>Accessories</li>
          <li>On Sale</li>
          <li>Best Sellers</li>
        </ul>
      </div>
      <h1 class="py-5 border-b-2 w-full">Category</h1>
    </div>
  </body>
</html>
